.button {
  position: relative;
  background-color: transparent;
  width: 100%;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 1rem;
  z-index: 1;
  border: solid 2.5px #181a1b;
  background-color: hsl(200, 6%, 10%, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
}
/* bg-[#181a1b] px-5 py-3 */
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #181a1b;
  z-index: -1;
  transform: scaleX(0);
  transition: ease-in-out 0.15s;
}

.button:hover::before {
  transform: scaleX(1);
}

.left::before {
  transform-origin: left;
}
.right::before {
  transform-origin: right;
}
