.button {
  position: relative;
  background-color: orange;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 1rem;
  z-index: 1;
}

.button::before {
  content: "";
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: red;
  z-index: -1;
  transform: scaleX(0);
  transition: ease-in-out 0.15s;
}

.button:hover::before {
  transform: scaleX(1);
}

.left::before {
  transform-origin: left;
}
.right::before {
  transform-origin: right;
}
